# Временные файлы операционных систем
*.DS_Store
Thumbs.db

# Локальные конфигурации разработчика (путь к SDK, личные ключи)
local.properties
.secrets
.env

# Папки сборки и кэша Gradle
.gradle/
build/
*/build/
.kotlin/

# Файлы настроек Android Studio (IntelliJ IDEA)
.idea/workspace.xml
.idea/tasks.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/shelf
*.iml
*.ipr
*.iws

# Ключи подписи приложения (их категорически нельзя пушить!)
*.jks
*.keystore
*.p12

# Логи и отчеты об ошибках
*.log
captures/
